{% extends 'base.html' %}
<html>
<head>
  <style>

  </style>

</head>
{% block content %}


<br>
<br><br><br>
<center>
    <a href="{% url 'simple_upload' %}"><button class="button">Upload Puzzle</button></a>

    <a href="{% url 'model_form_upload' %}"><button class="button">Upload Assignment</button></a>
</center>










{% endblock %}
</html>
