{% extends 'base.html' %}

{% block content %}
<center>
  <h1>Upload the Assignment</h1>
  <div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
  </div>
</center>


{% endblock %}
