<!DOCTYPE html>
<html>
  <head>
    <title>Python Assessment</title>
    <style>
      body {
        background-color: lightblue;
      }

      .button {
    background-color: blue;
    width: 250px;
    height: 250px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border: 1px solid green;
  }
  </style>
  </head>
  <body>
    <div>Python-assessment-test-utility:
      <br>
    <a href="/">Home</a>
    <hr>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
