{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Puzzles</h2>
    <p>
      <a href="{% url 'upload_book' %}" class="btn btn-primary">Submit Puzzle</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Signature</th>
        <th>Trainer</th>
        <th>Author</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for puzzle in puzzles %}
        <tr>
          <td>
            {% if puzzle.test_cases %}
              <img src="{{ puzzle.test_cases.url }}" alt="{{ puzzle.signature }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>{{ puzzle.signature }}</td>
          <td>{{ puzzle.Trainer }}</td>
          <td>
            <a href="{{ puzzle.puzzle_description.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_book' puzzle.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
