{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Py-ass-test-util</h2>
  <p class="card-text">Test your python assignments</p>

  <p class="card-text">
    Creator : Lekhani Ray<br>

  </p>
{% endblock %}
